@import url("https://fonts.googleapis.com/css2?family=Barrio&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barrio&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

button:hover {
  cursor: pointer;
}

.link {
  text-decoration: none;
}